@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 24rem;
  margin: 0 auto;
  font-family: "Aref Ruqaa Ink", serif;
  background-color: #003c7d;
  color: #fff;
}

.container {
  box-shadow: 0 2px 4px -4px rgba(0, 0, 0, 0.4),
    0 50px 45px -20px rgba(0, 0, 0, 0.2);
  background: #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  border-radius: 30px;
  background-color: #0b1936;
  /* background-image: url("./images/bg.jpg"); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  position: relative;
  height: 450px;
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 500px;
  width: 100%;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.song-name {
  margin-top: 5px;
  font-size: 30px;
  font-weight: 700;
}

.artist-name {
  font-size: 20px;
  font-weight: 400;
}

.song-image {
  margin-top: 10px;
  border-radius: 7px;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.7;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: 0px;
  height: 70px;
}

.btn {
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background: transparent;
  color: #fff;
}

.play:hover,
.next:hover,
.prev:hover {
  transform: scale(0.9);
}

.shuffle {
  font-size: 30px;
}

.play {
  font-size: 35px;
  cursor: pointer;
}

.restart {
  font-size: 30px;
}

.pro {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 345px;
  width: 70%;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  /* height: 15px; */
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  appearance: none;
  background-color: #202021;
}

.progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: #202021;
  border-radius: 10px;
}
.progress::-webkit-progress-value {
  -webkit-appearance: none;
  border-radius: 10px;
  background-color: #6b6bf3;
}

.progress::-moz-progress-bar {
  -moz-appearance: none;
  border-radius: 10px;
  background-color: #6b6bf3;
}

.vol {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vol-icon {
  font-size: 30px;
}

.vol-hidden {
  display: none;
}

.vol-slider {
  position: absolute;
  content: "";
  left: -51px;
  top: -65px;
  transform: rotate(270deg);
}

.vol-slider,
.progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 8px;
  background: linear-gradient(to left, #d946ef, #8b5cf6);
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.vol-slider::-webkit-slider-thumb,
.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #8b5cf6;
  border: 3px solid white;
  cursor: pointer;
  border-radius: 100%;
}
